aiofiles==24.1.0 ; python_version >= "3.10" and python_version < "4.0"
aiohappyeyeballs==2.4.6 ; python_version >= "3.10" and python_version < "4.0"
aiohttp==3.11.12 ; python_version >= "3.10" and python_version < "4.0"
aiosignal==1.3.2 ; python_version >= "3.10" and python_version < "4.0"
altair==5.5.0 ; python_version >= "3.10" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
anyio==4.8.0 ; python_version >= "3.10" and python_version < "4"
asgiref==3.8.1 ; python_version >= "3.10" and python_version < "4"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==25.1.0 ; python_version >= "3.10" and python_version < "4.0"
backoff==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
bcrypt==4.2.1 ; python_version >= "3.10" and python_version < "4"
beautifulsoup4==4.13.3 ; python_version >= "3.10" and python_version < "4.0"
blinker==1.9.0 ; python_version >= "3.10" and python_version < "4.0"
build==1.2.2.post1 ; python_version >= "3.10" and python_version < "4"
cachetools==5.5.1 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.1.31 ; python_version >= "3.10" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "4.0"
chardet==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.10" and python_version < "4.0"
chroma-hnswlib==0.7.6 ; python_version >= "3.10" and python_version < "4"
chromadb==0.6.3 ; python_version >= "3.10" and python_version < "4"
click==8.1.8 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (platform_system == "Windows" or os_name == "nt") or python_version >= "3.10" and sys_platform == "win32" and python_version < "4"
coloredlogs==15.0.1 ; python_version >= "3.10" and python_version < "4"
cryptography==44.0.0 ; python_version >= "3.10" and python_version < "4.0"
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_version < "4.0"
deprecated==1.2.18 ; python_version >= "3.10" and python_version < "4"
durationpy==0.9 ; python_version >= "3.10" and python_version < "4"
emoji==2.14.1 ; python_version >= "3.10" and python_version < "4.0"
eval-type-backport==0.2.2 ; python_version >= "3.10" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.115.8 ; python_version >= "3.10" and python_version < "4"
filelock==3.17.0 ; python_version >= "3.10" and python_version < "4"
filetype==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
firecrawl-py==1.11.1 ; python_version >= "3.10" and python_version < "4.0"
flatbuffers==25.2.10 ; python_version >= "3.10" and python_version < "4"
frozenlist==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
fsspec==2025.2.0 ; python_version >= "3.10" and python_version < "4"
gitdb==4.0.12 ; python_version >= "3.10" and python_version < "4.0"
gitpython==3.1.44 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.38.0 ; python_version >= "3.10" and python_version < "4"
googleapis-common-protos==1.66.0 ; python_version >= "3.10" and python_version < "4"
greenlet==3.1.1 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
grpcio==1.70.0 ; python_version >= "3.10" and python_version < "4"
h11==0.14.0 ; python_version >= "3.10" and python_version < "4"
html5lib==1.1 ; python_version >= "3.10" and python_version < "4.0"
httpcore==1.0.7 ; python_version >= "3.10" and python_version < "4"
httptools==0.6.4 ; python_version >= "3.10" and python_version < "4"
httpx-sse==0.4.0 ; python_version >= "3.10" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.10" and python_version < "4"
huggingface-hub==0.28.1 ; python_version >= "3.10" and python_version < "4"
humanfriendly==10.0 ; python_version >= "3.10" and python_version < "4"
idna==3.10 ; python_version >= "3.10" and python_version < "4.0"
importlib-metadata==8.5.0 ; python_version >= "3.10" and python_version < "4"
importlib-resources==6.5.2 ; python_version >= "3.10" and python_version < "4"
jinja2==3.1.5 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "4.0"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "4.0"
jsonpath-python==1.0.6 ; python_version >= "3.10" and python_version < "4.0"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2024.10.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.10" and python_version < "4.0"
kubernetes==32.0.0 ; python_version >= "3.10" and python_version < "4"
langchain-chroma==0.2.1 ; python_version >= "3.10" and python_version < "4"
langchain-community==0.3.17 ; python_version >= "3.10" and python_version < "4.0"
langchain-core==0.3.34 ; python_version >= "3.10" and python_version < "4.0"
langchain-ollama==0.2.3 ; python_version >= "3.10" and python_version < "4.0"
langchain-text-splitters==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
langchain==0.3.18 ; python_version >= "3.10" and python_version < "4.0"
langdetect==1.0.9 ; python_version >= "3.10" and python_version < "4.0"
langsmith==0.3.8 ; python_version >= "3.10" and python_version < "4.0"
lxml==5.3.1 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
markdown==3.7 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "4.0"
marshmallow==3.26.1 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
mmh3==5.1.0 ; python_version >= "3.10" and python_version < "4"
monotonic==1.6 ; python_version >= "3.10" and python_version < "4"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "4"
multidict==6.1.0 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
narwhals==1.26.0 ; python_version >= "3.10" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "4"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "4"
olefile==0.47 ; python_version >= "3.10" and python_version < "4.0"
ollama==0.4.7 ; python_version >= "3.10" and python_version < "4.0"
onnxruntime==1.20.1 ; python_version >= "3.10" and python_version < "4"
opentelemetry-api==1.30.0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-exporter-otlp-proto-common==1.30.0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-exporter-otlp-proto-grpc==1.30.0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-instrumentation-asgi==0.51b0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-instrumentation-fastapi==0.51b0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-instrumentation==0.51b0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-proto==1.30.0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-sdk==1.30.0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-semantic-conventions==0.51b0 ; python_version >= "3.10" and python_version < "4"
opentelemetry-util-http==0.51b0 ; python_version >= "3.10" and python_version < "4"
orjson==3.10.15 ; python_version >= "3.10" and python_version < "4"
overrides==7.7.0 ; python_version >= "3.10" and python_version < "4"
packaging==24.2 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.10" and python_version < "4.0"
pillow==11.1.0 ; python_version >= "3.10" and python_version < "4.0"
posthog==3.12.0 ; python_version >= "3.10" and python_version < "4"
propcache==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
protobuf==5.29.3 ; python_version >= "3.10" and python_version < "4.0"
psutil==6.1.1 ; python_version >= "3.10" and python_version < "4.0"
pyarrow==19.0.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.1 ; python_version >= "3.10" and python_version < "4"
pyasn1==0.6.1 ; python_version >= "3.10" and python_version < "4"
pycparser==2.22 ; python_version >= "3.10" and python_version < "4.0"
pydantic-core==2.27.2 ; python_version >= "3.10" and python_version < "4.0"
pydantic-settings==2.7.1 ; python_version >= "3.10" and python_version < "4.0"
pydantic==2.10.6 ; python_version >= "3.10" and python_version < "4.0"
pydeck==0.9.1 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.10" and python_version < "4.0"
pypdf==5.3.0 ; python_version >= "3.10" and python_version < "4.0"
pypika==0.48.9 ; python_version >= "3.10" and python_version < "4"
pyproject-hooks==1.2.0 ; python_version >= "3.10" and python_version < "4"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.10" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
python-iso639==2025.2.8 ; python_version >= "3.10" and python_version < "4.0"
python-magic==0.4.27 ; python_version >= "3.10" and python_version < "4.0"
python-oxmsg==0.0.2 ; python_version >= "3.10" and python_version < "4.0"
pytz==2025.1 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "4.0"
rapidfuzz==3.12.1 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.10" and python_version < "4.0"
regex==2024.11.6 ; python_version >= "3.10" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "4"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.10" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.22.3 ; python_version >= "3.10" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "4"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
smmap==5.0.2 ; python_version >= "3.10" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "4"
soupsieve==2.6 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.38 ; python_version >= "3.10" and python_version < "4.0"
starlette==0.45.3 ; python_version >= "3.10" and python_version < "4"
streamlit==1.42.0 ; python_version >= "3.10" and python_version < "4.0"
sympy==1.13.3 ; python_version >= "3.10" and python_version < "4"
tenacity==9.0.0 ; python_version >= "3.10" and python_version < "4.0"
tokenizers==0.21.0 ; python_version >= "3.10" and python_version < "4"
toml==0.10.2 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.4.2 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "4.0"
typer==0.15.1 ; python_version >= "3.10" and python_version < "4"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2025.1 ; python_version >= "3.10" and python_version < "4.0"
unstructured-client==0.29.0 ; python_version >= "3.10" and python_version < "4.0"
unstructured[md]==0.16.20 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
uvicorn[standard]==0.34.0 ; python_version >= "3.10" and python_version < "4"
uvloop==0.21.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "4"
watchdog==6.0.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system != "Darwin"
watchfiles==1.0.4 ; python_version >= "3.10" and python_version < "4"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
websocket-client==1.8.0 ; python_version >= "3.10" and python_version < "4"
websockets==14.2 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.17.2 ; python_version >= "3.10" and python_version < "4.0"
yarl==1.18.3 ; python_version >= "3.10" and python_version < "4.0"
zipp==3.21.0 ; python_version >= "3.10" and python_version < "4"
zstandard==0.23.0 ; python_version >= "3.10" and python_version < "4.0"
